{% load movie_tag %}
<!-- product left -->
<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent" style="outline: none; cursor: inherit;">
        Поиск фильма</h3>
    <form action="#" method="post" class="d-flex editContent"
          style="outline: none; cursor: inherit;">
        <input type="search" placeholder="Введите название..." name="search"
               class="form-control" required="">
        <button class="btn1 btn" style="outline: none; cursor: inherit;"><span
                class="fa fa-search" aria-hidden="true"
                style="outline: none; cursor: inherit;"></span></button>
    </form>
</div>
<!--preference -->
<div class="left-side my-4">
    <h3 class="sear-head editContent" style="outline: none; cursor: inherit;">
        Жанры</h3>
    <ul class="w3layouts-box-list">
        <li class="editContent" style="outline: none; cursor: inherit;">
            <input type="checkbox" class="checked">
            <span class="span editContent"
                  style="outline: none; cursor: inherit;">Аниме</span>
        </li>
        <li class="editContent" style="outline: none; cursor: inherit;">
            <input type="checkbox" class="checked">
            <span class="span editContent"
                  style="outline: none; cursor: inherit;">Боевики</span>
        </li>
        <li class="editContent" style="outline: none; cursor: inherit;">
            <input type="checkbox" class="checked">
            <span class="span editContent"
                  style="outline: none; cursor: inherit;">Комедии</span>
        </li>
        <li class="editContent" style="outline: none; cursor: inherit;">
            <input type="checkbox" class="checked">
            <span class="span editContent"
                  style="outline: none; cursor: inherit;">Ужасы</span>
        </li>
    </ul>
</div>
<!-- // preference -->
<!-- discounts -->
<div class="left-side">
    <h3 class="sear-head editContent" style="outline: none; cursor: inherit;">
        Год</h3>
    <ul class="w3layouts-box-list">
        <li class="editContent" style="outline: none; cursor: inherit;">
            <input type="checkbox" class="checked">
            <span class="span editContent"
                  style="outline: none; cursor: inherit;">2020</span>
        </li>
        <li class="editContent" style="outline: none; cursor: inherit;">
            <input type="checkbox" class="checked">
            <span class="span editContent"
                  style="outline: none; cursor: inherit;">2019</span>
        </li>
        <li class="editContent" style="outline: none; cursor: inherit;">
            <input type="checkbox" class="checked">
            <span class="span editContent"
                  style="outline: none; cursor: inherit;">2018</span>
        </li>
        <li>
            <input type="checkbox" class="checked">
            <span class="span editContent"
                  style="outline: none; cursor: inherit;">2017</span>
        </li>
        <li class="editContent" style="outline: none; cursor: inherit;">
            <input type="checkbox" class="checked">
            <span class="span editContent"
                  style="outline: none; cursor: inherit;">2016</span>
        </li>
        <li class="editContent" style="outline: none; cursor: inherit;">
            <input type="checkbox" class="checked">
            <span class="span editContent"
                  style="outline: none; cursor: inherit;">2015</span>
        </li>
    </ul>
</div>
<!-- //discounts -->
<!-- reviews -->
<div class="customer-rev left-side my-4">
    <h3 class="sear-head editContent" style="outline: none; cursor: inherit;">
        Рейтинг</h3>
    <ul class="w3layouts-box-list">
        <li>
            <a href="#">
                                    <span class="fa fa-star" aria-hidden="true"
                                          style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="editContent"
                      style="outline: none; cursor: inherit;">5.0</span>
            </a>
        </li>
        <li>
            <a href="#">
                                    <span class="fa fa-star" aria-hidden="true"
                                          style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star-o" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="editContent"
                      style="outline: none; cursor: inherit;">4.0</span>
            </a>
        </li>
        <li>
            <a href="#">
                                    <span class="fa fa-star" aria-hidden="true"
                                          style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star-half-o" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star-o" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="editContent"
                      style="outline: none; cursor: inherit;">3.5</span>
            </a>
        </li>
        <li>
            <a href="#">
                                    <span class="fa fa-star" aria-hidden="true"
                                          style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star-o" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="editContent"
                      style="outline: none; cursor: inherit;">3.0</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star-half-o" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star-o" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="fa fa-star-o" aria-hidden="true"
                      style="outline: none; cursor: inherit;"></span>
                <span class="editContent"
                      style="outline: none; cursor: inherit;">2.5</span>
            </a>
        </li>
    </ul>
</div>
{% get_last_movies count=3 %}
<!-- //reviews -->
<!-- //product left -->